:root { 
--deep_orange_A200:#ee7836; 
--red_800:#c52424; 
--red_300:#f46767; 
--red_301:#f46868; 
--red_302:#e96a6a; 
--black_900_91:#00000091; 
--black_900_3f:#0000003f; 
--light_blue_902:#166b90; 
--black_900_b5:#000000b5; 
--light_blue_901:#166c90; 
--light_blue_900:#01488a; 
--red_900_35:#7f030335; 
--green_400:#71c174; 
--black_900_87:#00000087; 
--black_900:#000000; 
--gray_200_87:#eae8e887; 
--black_900_bf:#000000bf; 
--gray_600:#6d6d6d; 
--gray_700:#69695d; 
--gray_901:#1e1e1e; 
--gray_900:#1f1f1f; 
--bluegray_100:#d9d9d9; 
--gray_200:#eae8e8; 
--orange_200:#e9b970; 
--teal_300_00:#5c9ead00; 
--bluegray_400:#8c8c8c; 
--blue_100:#c1ddf7; 
--indigo_700:#2e5c85; 
--white_A700:#ffffff; 
}