
 @font-face { font-style : bold; src: url("assets/fonts/LatoBold.ttf"); font-family : "Lato"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/ImprimaRegular.ttf"); font-family : "Imprima"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/AlegreyaSansRegular.ttf"); font-family : "Alegreya Sans"; font-weight : 400;  }